<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="pr2_forearm_transmission_v0" params="side">

    <!-- Wrist flex , Wrist roll -->

    <transmission type="pr2_mechanism_model/WristTransmission" name="${side}_wrist_trans">
      <rightActuator name="${side}_wrist_r_motor" mechanicalReduction="${624/35*54/16}"/>
      <leftActuator name="${side}_wrist_l_motor"  mechanicalReduction="${624/35*54/16}"/>
      <flexJoint name="${side}_wrist_flex_joint"  mechanicalReduction="-1.0" />
      <rollJoint name="${side}_wrist_roll_joint"  mechanicalReduction="1.0" />
    </transmission>

  </xacro:macro>
</robot>

