<?xml version="1.0"?>
<launch>
  <arg name="world_file"  default="/usr/share/gazebo-8/worlds/empty_bullet.world"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="true"/>
  <arg name="headless" value="true"/>
  <arg name="paused" value="true"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="physics" value="ode"/>
    <arg name="verbose" default="true"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find cartpole_gazebo)/urdf/carpole_gazebo_urdf.xacro.urdf" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

  <include file="$(find cartpole_gazebo)/launch/controller_utils.launch"/>

</launch>
