<?xml version="1.0"?>
<launch>
  <arg name="world_file"  default="$(env GYM_GAZEBO_ENV_ARTICULATED)"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="true"/>
  <arg name="headless" value="true"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find articulated_arm_description)/urdf/articulated_arm_model.urdf'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.01" respawn="false" output="screen" />

  <include file="$(find articulated_arm_gazebo)/controller/controller_utils.launch"/>

  <rosparam file="$(find articulated_arm_moveit)/config/articulated_arm_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn articulated_arm_controller" respawn="false" output="screen"/>

</launch>
