<?xml version="1.0"?>
<robot>

  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  
  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  
  <material name="Grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  
  <material name="Grey2">
    <color rgba="0.9 0.9 0.9 1.0"/>
  </material>
  
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="Black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <material name="LightGrey">
    <color rgba="0.6 0.6 0.6 1.0"/>
  </material>
  
  <material name="Caster">
    <texture filename="package://pr2_description/materials/textures/pr2_caster_texture.png" />
  </material>
  
  <material name="Wheel_l">
    <texture filename="package://pr2_description/materials/textures/pr2_wheel_left.png" />
  </material>
  
  <material name="Wheel_r">
    <texture filename="package://pr2_description/materials/textures/pr2_wheel_right.png" />
  </material>

  <material name="RollLinks">
    <texture filename="package://pr2_description/materials/textures/pr2_wheel_left.png" />
  </material>

</robot>
