# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

# Rewards (Bonus for staying alive, large penalty for being killed)
living_reward = 1
death_penalty = 100

# Rendering options
screen_format = BGR24
render_hud = true
render_crosshair = false
render_weapon = false
render_decals = false
render_particles = false

# make episodes start after 14 tics (after unholstering the gun) (35 tics per seconds)
episode_start_time = 14

# Make episodes finish after 2100 tics (1 minutes)
episode_timeout = 2100

# Available buttons
available_buttons =
    {
        MOVE_FORWARD
        TURN_RIGHT
        TURN_LEFT
    }

# Game variables that will be in the state
available_game_variables =
    {
        KILLCOUNT
        ITEMCOUNT
        SECRETCOUNT
        FRAGCOUNT
        HEALTH
        ARMOR
        DEAD
        ON_GROUND
        ATTACK_READY
        ALTATTACK_READY

        SELECTED_WEAPON
        SELECTED_WEAPON_AMMO

        AMMO1
        AMMO2
        AMMO3
        AMMO4
        AMMO5
        AMMO6
        AMMO7
        AMMO8
        AMMO9
        AMMO0
    }

sound_enabled = false
