# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = cig.wad

#12 minutes
episode_timeout = 25200

# Rendering options
screen_resolution = RES_640X480
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false

window_visible = true

# Available buttons
available_buttons = 
	{ 
		TURN_LEFT
		TURN_RIGHT
		ATTACK

		MOVE_RIGHT
		MOVE_LEFT

		MOVE_FORWARD
		MOVE_BACKWARD
		TURN_LEFT_RIGHT_DELTA
		LOOK_UP_DOWN_DELTA	
		
	}

mode = ASYNC_PLAYER

