# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = defend_the_line.wad

# Rewards
death_penalty = 1

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = True
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
window_visible = true

# make episodes start after 10 tics (after unholstering the gun)
episode_start_time = 10


# Available buttons
available_buttons = 
	{ 
		TURN_lEFT 
		TURN_RIGHT 
		ATTACK 
	}

# Game variables that will be in the state
available_game_variables = {  AMMO2 HEALTH}

mode = PLAYER
doom_skill = 3
