# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = health_gathering_supreme.wad

# Each step is good for you!
living_reward = 1
# And death is not!
death_penalty = 100

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = false
render_crosshair = false
render_weapon = false
render_decals = false
render_particles = false
window_visible = true

# make episodes finish after 2100 actions (tics)
episode_timeout = 2100

# Available buttons
available_buttons = 
	{ 
		TURN_LEFT 
		TURN_RIGHT 
		MOVE_FORWARD 
	}

# Game variables that will be in the state
available_game_variables = { HEALTH }

mode = PLAYER