# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = my_way_home.wad

# Rewards
living_reward = -0.0001

# Rendering options
screen_resolution = RES_640X480
screen_format = CRCGCB
render_hud = false
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
window_visible = true

# make episodes start after 10 tics (after unholstering the gun)
episode_start_time = 10

# make episodes finish after 2100 actions (tics)
episode_timeout = 2100

# Available buttons
available_buttons = 
	{ 
		TURN_LEFT
		TURN_RIGHT
		MOVE_FORWARD 
		MOVE_LEFT
		MOVE_RIGHT
	}

# Game variables that will be in the state
available_game_variables = { AMMO0 }

mode = PLAYER
doom_skill = 5
