# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
window_visible = true

# make episodes finish after 4200 actions (tics)
episode_timeout = 4200

# Available buttons
available_buttons =
	{
		ATTACK
		USE
        SPEED
        STRAFE

        MOVE_RIGHT
        MOVE_LEFT
        MOVE_BACKWARD
        MOVE_FORWARD
        TURN_RIGHT
        TURN_LEFT

        SELECT_WEAPON1
        SELECT_WEAPON2
        SELECT_WEAPON3
        SELECT_WEAPON4
        SELECT_WEAPON5
        SELECT_WEAPON6

        SELECT_NEXT_WEAPON
        SELECT_PREV_WEAPON

        LOOK_UP_DOWN_DELTA
        TURN_LEFT_RIGHT_DELTA
        MOVE_LEFT_RIGHT_DELTA

	}

# Game variables that will be in the state
available_game_variables =
	{
        KILLCOUNT
        HEALTH
        ARMOR
        SELECTED_WEAPON
        SELECTED_WEAPON_AMMO
    }
mode = PLAYER
