# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = take_cover.wad
doom_map = map01

# Rewards
living_reward = 1

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = false
render_crosshair = false
render_weapon = false
render_decals = false
render_particles = false
window_visible = true

# Available buttons
available_buttons = 
	{ 
		MOVE_LEFT 
		MOVE_RIGHT
	}

# Game variables that will be in the state
available_game_variables = { HEALTH }

# Change it if you wish.
doom_skill = 4

