<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Made by Kevin for double stereo camera for PR-2 Beta. -->
  <!-- Needs calibration verification, and CAD check. -->
  <xacro:macro name="double_stereo_camera_gazebo_v0" params="name">
    <!-- Define link to stereo cameras, set origin relative to that -->
    <gazebo reference="${name}_double_stereo_link">
      <material value="PR2/Blue" />
    </gazebo>
  </xacro:macro>
</robot>
