<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- this macro is used for creating wide and narrow double stereo camera in simulation -->
  <xacro:macro name="stereo_camera_gazebo_v0" params="name focal_length hfov image_width image_height">
    
    <gazebo reference="${name}_link">
      <material value="PR2/Blue" />
      <turnGravityOff value="true" />
    </gazebo>

    <gazebo reference="${name}_optical_frame">
      <material value="Gazebo/White" />
      <turnGravityOff value="true" />
    </gazebo>

  </xacro:macro>

</robot>
