<?xml version="1.0"?>
<robot name="ground_skeleton">
    <link name="world" />
    <link name="ground_link">
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 -0.025 0" rpy="0 -0 0" />
            <geometry>
                <box size="25 0.05 25" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 -0.025 0" rpy="0 -0 0" />
            <geometry>
                <box size="25 0.05 25" />
            </geometry>
        </collision>
    </link>
    <link name="flag_link">
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 -12.5" rpy="0 -0 0" />
            <geometry>
                <box size="0.1 5 0.1" />
            </geometry>
        </visual>
    </link>
    <joint name="ground_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="ground_link" />
    </joint>
    <joint name="flag_joint1" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="flag_link" />
    </joint>
</robot>
